* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 900px;
  height: 80px;
}

h1 {
  flex:1;
}

nav {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
}

li {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.mainvisual img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

section {
  margin-top: 150px;
}

.about h2,
.works h2,
.news h2,
.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #333333;
}

.about ul,
.works ul {
  list-style: none;
}

.content {
  width: 60%;
  margin: 70px auto;
  font-size:14px;
}

.content p {
  margin-left: 20px;
}

.image {
  width: 70%;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image ul {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.image li {
  margin: 10px;
}

.image img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}

dl {
  width: 860px;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #ccc;
  margin-bottom: 20px;
}

dt {
  width: 100px;
  border-bottom: solid 1px #ccc;
  padding: 15px;
}

dd {
  width: 700px;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

.date{
  display: flex;
}

.contact dd input,
.contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}

.contact dd textarea {
  height: 10rem;
}

.contact .button {
  text-align: center;
}

.contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 15px 0;
  border: solid 1px #24292e;
}

.contact .button input:hover {
  background: #fff;
  color: #24292e;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: #24292e;
}

footer p {
  font-size: 10px;
  padding: 10px 0;
  color: #FFF;
}